
body {
    background: rgb(49,49,49);
}

.main {
    width: 600px;
    height: 400px;
    position: absolute;
    margin-top: 75px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
    font-family: Arial, sans-serif;
    
    /* for testing */
    /* background: grey; */
}

.loginView {
    width: 340px;
    height: 220px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10%;
    margin-right: 0;
    margin-left: 0;
    padding: 1px 30px 30px;
    position: relative;
    background: #ece5e0;
    border: 1px solid rgba(255, 174, 0, 0.2);
    border-radius: 5px;
    box-shadow:
        0 2px 2px rgba(255, 153, 0, 0.2),        
        0 1px 4px rgba(253, 152, 0, 0.2),        
        0 0 0 4px rgba(250, 201, 128, 0.35); 
}

#formHeader {
    width: 100%;
    height: 30px;
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 8px;    
    border-bottom: 2px solid orange;
}

.loginView span {
    color: rgb(56, 36, 0);
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
}

.loginView label {
    width: 40%;
    float: left;
    letter-spacing: 1px;
    padding-top: 8px;
    margin-left: 0;
    margin-right: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    text-shadow: 0 1px0 rgba(255,255,255,0.8);
    font-size: 15px;
    text-indent: 12px;
}

#username, #password {
    width: 55%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    font-size: 14px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.loginView input[type=text]:hover,
.loginView input[type=password]:hover,
.loginView label:hover ~ input[type=text],
.loginView label:hover ~ input[type=password] {
    border:1px solid #ffa600;
    background: linear-gradient(rgba(255, 214, 138, 0.719) 10%, rgba(255, 166, 0, 0.37) 100%);
}

.loginView input[type=text]:focus, 
.loginView input[type=password]:focus {
    background: beige;
    border-color:#BBBBBB;
    outline: none;
}

#loginButton {
    float: right;
    width: 100px;
    height: 40px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #d4d4d4d4 100%);
    border-radius: 6px;
    margin: 5px;
    border: 2px solid rgba(255, 166, 0, 0.25);
    cursor: pointer;
    color: #555555;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 4px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    outline: 0;
}

#loginButton:hover {
    background: linear-gradient(rgb(255, 255, 255) 10%, rgb(255, 166, 0) 100%);
    box-shadow:
        inset 0 1px rgba(255, 153, 0, 0.3),
        inset 0 20px 40px rgba(255, 166, 2, 0.15);
    color: #303030;
}

.centerButtons button {
    height: 60px;
    width: 360px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(#ffffff 5%, #d4d4d4d4 100%);
    border-radius: 6px;
    margin: 30px 0 0;
    border: 2px solid rgba(255, 166, 0, 0.25);
    cursor: pointer;
    color: #555555;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 4px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    outline: 0;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
}

.centerButtons button:hover {
    background: linear-gradient(rgb(255, 255, 255) 10%, rgb(255, 166, 0) 100%);
    box-shadow:
        inset 0 1px rgba(255, 153, 0, 0.479),
        inset 0 20px 40px rgba(255, 166, 2, 0.452);
    color: #303030;
}

.centerButtons {
    height: 75%;
    width: 75%;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
}

.hrefBack {
    float: right;
    position: relative;
    text-decoration: none;
    border: 2px solid rgba(255, 166, 0, 0.25);
    border-radius: 6px;
    padding: 6px 4px;
    color: #555555;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #d4d4d4d4 100%);
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 0px #ffffff;
    outline: 0;
    font-family: Arial, sans-serif;
}

.hrefBack:hover {
    background: linear-gradient(rgb(255, 255, 255) 10%, rgb(255, 166, 0) 100%);
    box-shadow:
        inset 0 1px rgba(255, 153, 0, 0.3),
        inset 0 20px 40px rgba(255, 166, 2, 0.15);
    color: #303030;
}

.hrefBack:visited {
    color: #555555;
}

.messageBackground {
    width: 550px;
    height: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 5%;
    margin-right: 0;
    margin-left: 0;
    padding: 1px 30px 30px;
    position: relative;
    background: #ece5e0;
    border: 1px solid rgba(255, 174, 0, 0.2);
    border-radius: 5px;
    box-shadow:
        0 2px 2px rgba(255, 153, 0, 0.2),        
        0 1px 4px rgba(253, 152, 0, 0.2),        
        0 0 0 4px rgba(250, 201, 128, 0.35); 
}

.back {
    height: 60px;
    width: 360px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(#ffffff 5%, #d4d4d4d4 100%);
    border-radius: 6px;
    border: 2px solid rgba(255, 166, 0, 0.25);
    cursor: pointer;
    color: #555555;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 4px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    outline: 0;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
}

.back:hover {
    background: linear-gradient(rgb(255, 255, 255) 10%, rgb(255, 166, 0) 100%);
    box-shadow:
        inset 0 1px rgba(255, 153, 0, 0.479),
        inset 0 20px 40px rgba(255, 166, 2, 0.452);
    color: #303030;
}

h6 {
  color: red;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  opacity: 1;
  transition: opacity 500ms;
  display: none;
}

h6.disappear {
  opacity: 0;
}