
.ticketView {
    width: 800px;
    height: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 5%;
    margin-right: 0;
    margin-left: 0;
    padding: 1px 30px 30px;
    position: relative;
    background: #ece5e0;
    border: 1px solid rgba(255, 174, 0, 0.2);
    border-radius: 5px;
    box-shadow:
        0 2px 2px rgba(255, 153, 0, 0.2),        
        0 1px 4px rgba(253, 152, 0, 0.2),        
        0 0 0 4px rgba(250, 201, 128, 0.35); 
    color: rgb(56, 36, 0);
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
}

.viewHeader {
    width: 100%;
    height: 30px;
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 8px;    
    border-bottom: 2px solid orange;
}

.ticketTable {
    width: 100%;
    border-collapse: collapse;
}

.tableHead {
  text-shadow: 1px 1px 1px #6060603f; 
  font-size: 18px; 
  font-family: "Arial", sans-serif; 
}

.tableHead tr:nth-child(even) {
    background: #f2f2f2;
}

.tableHead tr:hover {
    background: #ddd;
}

.tableHead th {
    width: 50px;
    text-align: left;
    text-indent: 2px;
    border: 1px solid black;
    padding: 10px 0;
    background: rgba(255, 166, 0, 0.8);
}

#employeeTicketBody tr, #employeeTicketBody td 
#financeManagerTicketBody tr, #financeManagerTicketBody td {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 5px;
  font-size: 13px;
}

#employeeTicketBody tr, #financeManagerTicketBody tr {
  height: 40px;
}

#employeeTicketBody tr:nth-child(even) {background-color: #e6e6e6;}
#employeeTicketBody tr:nth-child(odd) {background-color: #ffffff;}
#financeManagerTicketBody tr:nth-child(even) {background-color: #e6e6e6;}
#financeManagerTicketBody tr:nth-child(odd) {background-color: #ffffff;}

#filterStatus {
  width: 12%;
}

#filterStatus:hover {
  cursor: pointer;
}

#financeManagerTicketBody tr:hover {
  background:rgb(206, 206, 206);
  cursor: pointer;
}

#resolveButtons {
  margin-top: 20px;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#resolveButtons button {
  width: 100px;
  height: 40px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #d4d4d4d4 100%);
  border-radius: 6px;
  margin: 0 20px;
  border: 2px solid rgba(255, 166, 0, 0.25);
  cursor: pointer;
  color: #555555;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 4px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  outline: 0;
}

#resolveButtons button:hover {
  background: linear-gradient(rgb(255, 255, 255) 10%, rgb(255, 166, 0) 100%);
  box-shadow:
      inset 0 1px rgba(255, 153, 0, 0.3),
      inset 0 20px 40px rgba(255, 166, 2, 0.15);
  color: #303030;
}

td input[type="button"] {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #d4d4d4d4 100%);
  border-radius: 6px;
  border: 1px solid rgba(255, 166, 0, 0.25);
  color: #555555;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  outline: 0;
}

td input[type="button"]:hover {
  background: linear-gradient(rgb(255, 255, 255) 10%, rgb(255, 166, 0) 100%);
  box-shadow:
      inset 0 1px rgba(255, 153, 0, 0.3),
      inset 0 20px 40px rgba(255, 166, 2, 0.15);
  color: #303030;
}

#exit {
  float: right;
  position: relative;
  text-decoration: none;
  border: 2px solid rgba(255, 166, 0, 0.25);
  border-radius: 6px;
  padding: 6px 4px;
  color: #555555;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #d4d4d4d4 100%);
  margin: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0px 1px 0px #ffffff;
  outline: 0;
  font-family: Arial, sans-serif;
}

#exit:hover {
  background: linear-gradient(rgb(255, 255, 255) 10%, rgb(255, 166, 0) 100%);
  box-shadow:
      inset 0 1px rgba(255, 153, 0, 0.3),
      inset 0 20px 40px rgba(255, 166, 2, 0.15);
  color: #303030;
}